# Bytecode Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Editor/IDE
.vscode/
.idea/
*.sublime-*

# OS files
.DS_Store
Thumbs.db

# Log/temp
*.log
*.tmp

# Build/dist
*.egg-info/
build/
dist/

# Ignore result data & input list
data/crawling_result.json
data/poisoning_result.json
domains.txt

# Keep folder structure
!data/.gitkeep
